{% load static %} 
<!DOCTYPE html>

<html lang = "en">

<head>
    <title>DSP Puzzle Game Website</title>
    <style>

</style>
</head>

<body>

    <ul class="navBar">
        <li class="button"><a class="linkToPage" href={% url 'home' %}>Home</a></li>
        <li class="button"><a class="linkToPage" href={% url 'eightQueensLeader' %}>Eight Queens Leaderboard</a></li>
        <li class="button"><a class="linkToPage" href={% url 'aboutPage' %}>About</a></li>
    </ul>
    <img src="{% static 'eightQueens.jpg' %}" alt="image" />
    <c><h1 class="welcomeText">Leaderboard 8 Queens</h1></c>
    <b><p>Contains all scores obtained by users whilst playing puzzle one, 8 queens.</p></b>
    <ul>
    {%for scores in all_records%}
        <li>{{ scores }}</li>
    {% endfor %}
</body>
</html>

